body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.button-style
{
    margin-left: 5px;
}

.question-tags
{
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #999;
}

.feed {
    margin-left: 6px;
    padding: 0 0 0 19px;
    background: url("/images/feed-icon-14x14.png") no-repeat 0 50%;
}