body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: whitesmoke;
    text-align: justify;
    background-image: url("/images/Elegant_Background-18.jpg");
    background-attachment: fixed;
    /*background-image: url("/images/Elegant_Background-13.jpg");
    background-repeat: repeat-x
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}
html, body { margin: 0; padding: 0; }

.button-style
{
    margin-left: 5px;
}

.question-tags
{
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #999;
}

.feed {
    margin-left: 6px;
    padding: 0 0 0 19px;
    background: url("/images/feed-icon-14x14.png") no-repeat 0 50%;
}
h1 {
    text-shadow:5px 5px 10px blue;
}

#nav {
    
}

ul {
    list-style-type: none;
}
li {
    border-radius: 10px;
    color: #F7113A;
    display: inline;
    font-size: 14px;
    padding: 10px;
    margin-right: 25px;
    text-align: center;
    box-shadow: 0 0 3px #999;
    background: #AFC6E9;
}

#hold {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

#main-wrapper {
    margin: auto;
    /*width: 600px;*/
}

#header {
    display: table;
    margin: 0 auto;
    text-align: center;
    /*background-image: url("/images/North_Wind.png");
    padding-bottom: 150px;*/
}

#content-outer-main {
    background: url('/images/gradientblue.png') repeat-x #fff;
}

#content-outer-view {
    background: url('/images/gradientgreen.png') repeat-x #fff;
}

.content-outer {
    box-shadow: 0 0 3px #999;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px;
}

p.content {
    text-shadow:5px 5px 10px #606060;
}

.jump-link {
    float: right;
    padding-top: 5px;
}
#create-time {
    float: left;
}

#modify-time {
    float: right;
}

img {

}


.item-control {
    padding-top: 5px;
}

#vote-score {
    float: left;
}

#vote-control {
    float: left;
}

#modify-control {
    float: right;
}
