<!DOCTYPE html>
<html lang="en">
    <head>
        <title>404 - Page Not Found</title>
    </head>
    <body style="background: #E71111;">
    <h1>404 Page has gone to digital graveyard</h1>
    <br />
    <p>We’re sorry but the file you were trying to access no longer exists but here’s something to cheer you up!</p>
    <iframe width="420" height="315" src="//www.youtube.com/embed/dQw4w9WgXcQ?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
    
    <div>
        <a href=/>Head back Home</a>
    </div>
    </body>
</html>
    