<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <form action="{{ action }}" enctype="multipart/form-data" method=post>
            <p>{{ heading }}</p>
            <textarea autofocus required name=content rows=20 cols=80>{{ content }}</textarea>
            {% block tags %}{% endblock %}
            {% block picture %}{% endblock %}
            <br />
            <input type="submit" name="submitButton" value="{{ action_name }}">
            <a href={{ back_link|default("/") }}><input type=button value='Back'</input></a>
        </form>
    </body>
</html>
