<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    <body>
        {% if user_ok %}
        <div><a href=/question/create>Add Question</a></div>
        {% endif %}
        
        {% for question in questions %}
        <div style="width:500px;border-style:ridge;padding: 5">
            <p>{{ question.content|truncate(500) }}</p>
            <a href="/view/{{ question.key.urlsafe() }}">View</a>
            <div>
                <p>{{ question.author.nickname() }}</p>
                <time>{{ question.createdate }}</time>
                {% if question.createdate != question.modifydate %}
                <time>{{ question.modifydate }}</time>
                {% endif %}
                
                <span class="question-tags">
                    <a href="/rss/{{ question.key.urlsafe() }}" class="feed"></a> Tagged With:
                    {% for tag in question.tags %}
                    <a href="/tag/{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </span>
            </div>
        </div>
        {% endfor %}

        {% if more %}
        <form action=/ method=POST>
        <input type=submit value="Next Page"></input>
        <input type=hidden name=next value={{ more_url }}></input>
        </form>
        {% elif more_home %}
         <a href={{ more_url }}><input type=button value="Home"></input></a>
        {% endif %}

        <p>Hello {{ user_nickname }}</p>
        <a href="{{ user_url }}">{{ user_url_linktext }}</a>
    </body>
</html>
