<rss version="2.0">
    <channel>
        <atom:link href="{{ host_url }}" rel="self" type="application/rss+xml" />
        <title>{{ question.content|truncate(30)|title }}</title>
        <link>{{ host_url }}/view/{{ question.key.urlsafe() }}</link>
        <description>{{ question.content }}</description>
        <language>en-us</language>
        <lastBuildDate>{{ question.modifydate|datetime }}</lastBuildDate>
        {% for answer in answers %}
        <item>
            <title>{{ answer.content|truncate(30)|title }}</title>
            <link>{{ host_url }}/view/{{ question.key.urlsafe() }}</link>
            <description>{{ answer.content }}</description>
        </item>
        {% endfor %}
    </channel>
</rss>
